<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="SpringContext" class="com.cores.corePlatform.base.api.content.SpringContext"></bean>
    <!-- 批处理 spring4.1.6中在content-support包中 特么的. 让我好找-->
    <bean id="qz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
            </list>
        </property>
    </bean>
    <!-- prop文件加载 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>
                    /WEB-INF/properties/config.properties
                </value>
            </list>
        </property>
    </bean>
    <!-- 加载Properties -->
    <bean id="coresProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="singleton" value="true"/>
        <property name="properties">
            <props>
                <prop key="com.superc.cores.test">${com.superc.cores.test}</prop>
            </props>
        </property>
    </bean>
</beans>